header-bar>* {
    transition: .4s all;
}

header-bar>div {
    width: 100%;
    display: flex;
    align-items: center;
    height: 69px;
    border-radius: 0 0 40px 40px;
}

header-bar>.light {
    background-color: #EFEEEE;
    box-shadow: 6px 6px 16px rgba(18, 18, 18, .25);
}

header-bar>.dark {
    background-color: #4C4B4B;
    box-shadow: 6px 6px 16px rgba(18, 18, 18, .25);
}

.toggleThemeContainer {
    width: calc(33% - 22px);
    float: left;
    padding: 0px 0 0 22px;
}

.toggleThemeContainer .switch {
    display: block;
    height: 20px;
    position: relative;
    width: 45px;
}

.toggleThemeContainer .switch input {
    display: none;
}

.toggleThemeContainer .slider {
    background-color: #fff;
    border: #707070 solid 1px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.toggleThemeContainer .slider:before {
    background-color: #707070;
    bottom: 1.5px;
    content: "";
    height: 15px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 15px;
}

.toggleThemeContainer input.toggleTheme:checked+.slider {
    background-color: #292929;
}

.toggleThemeContainer input.toggleTheme:checked+.slider:before {
    transform: translateX(24px);
    background-color: #f0f0f0;
}

.toggleThemeContainer .slider.round {
    box-shadow: 6px 6px 16px rgba(122, 122, 122, .25);
    border-radius: 34px;
}

.toggleThemeContainer .slider.round:before {
    border-radius: 50%;
}

.headerTextContainer {
    width: 33%;
    float: left;
    text-align: center;
}

.headerTextContainer.light>p {
    color: #121212;
}

.headerTextContainer.dark>p {
    color: #efeeee;
}

.headerTextContainer>p.first {
    font-weight: 400;
    font-size: 13px;
}

.headerTextContainer>p.last {
    font-weight: bold;
    font-size: 27px;
}

.settingsContainer {
    text-align: right;
    float: right;
    width: 24px;
    margin-left: calc(33% - 50px);
    padding-top: 5px;
    position: relative;
    height: 24px;
}

.settingsContainer>i {
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    transition: .4s all;
    position: absolute;
    right: 0;
    top: 0;
}

.settingsContainer>.fa-cog {
    transform: rotate(0deg);
    opacity: 1;
}

.settingsContainer>.fa-times {
    transform: rotate(180deg);
    opacity: 0;
}

.settingsContainer.settingsOn>.fa-cog {
    transform: rotate(180deg);
    opacity: 0;
}

.settingsContainer.settingsOn>.fa-times {
    transform: rotate(-180deg);
    opacity: 1;
}

.settingsContainer.light>i {
    color: #707070;
}

.settingsContainer.dark>i {
    color: #f0f0f0;
}