* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3f3f3f;
}

header-bar {
    background-color: #302b2b;
    text-align: center;
    padding: 10px;
    display: block;
    max-height: 13vh;
}

header-bar>h1 {
    font-family: 'Open Sans', sans-serif;
    color: #CF1F2B;
}

header-bar>p.online {
    color: rgb(16, 148, 16);
}

header-bar>p.offline {
    color: #CF1F2B;
}

chart-bar {
    max-width: 650px;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    min-height: 50px;
    height: max-content;
}

chart-bar>canvas {
    max-height: 66vh;
}

search-bar {
    display: block;
    width: 100%;
    height: max-content;
    max-height: 8vh;
    text-align: center;
    background-color: #fff;
    transition: .25s all;
}

search-bar:hover {
    background-color: rgb(168, 164, 164);
    cursor: pointer;
}

search-bar>#searchElement {
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
}

list-bar {
    margin: 10px auto;
    height: auto;
    width: 100%;
    background-color: white;
    display: block;
}

list-bar>div {
    padding: 10px;
    float: left;
    width: calc(33.3% - 20px);
    /* background-color: #CF1F2B; */
    height: max-content;
}

.list1 {
    background-color: #383535;
}

.list2 {
    background-color: #d4251c;
}

.list3 {
    background-color: #54a6ee;
}

list-bar>div>p {
    text-align: center;
}

list-bar>div>p.text {
    font-size: 30px;
    font-family: "Open sans";
}

list-bar>div>p.oldData {
    font-size: 20px;
    padding: 15px;
}

list-bar>div>p.newData {
    font-size: 15px;
}