@import "../styles/components/header-bar.css";
@import "../styles/components/chart-bar.css";
@import "../styles/components/search-bar.css";
@import "../styles/components/list-bar.css";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    transition: .4s all;
}

body.light {
    background-color: #efeeee;
}

body.dark {
    background-color: #292929;
}

.container {
    transition: .4s all;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container.light {
    background-color: #efeeee;
}

.container.dark {
    background-color: #292929;
}