@import "../styles/components/desktop/header-bar.css";
@import "../styles/components/desktop/chart-bar.css";
@import "../styles/components/desktop/search-bar.css";
@import "../styles/components/desktop/list-bar.css";
@import "../styles/components/desktop/modal.css";
@import "../styles/components/desktop/settings-bar.css";
.container {
    transition: .4s all;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container>*:not(settings-bar) {
    position: relative;
}

.container.light {
    background-color: #efeeee;
}

.container.dark {
    background-color: #292929;
}