@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../index_portrait.css" all and (orientation: portrait);
@import "../../index_landscape.css" all and (orientation: landscape) and (max-height: 700px);
@import "../../index_desktop.css" all and (orientation: landscape) and (min-height: 700px);
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    transition: .4s all;
    position: relative;
}

body.light {
    background-color: #efeeee;
}

body.dark {
    background-color: #292929;
}