settings-bar {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s all;
}

settings-bar.light {
    background-color: rgba(122, 122, 122, .5);
}

settings-bar.dark {
    background-color: rgba(240, 240, 240, .5);
}

settings-bar.showed {
    visibility: visible;
    opacity: 1;
}

.menu>.settingsHeader {
    display: none;
}

settings-bar>.menu {
    margin-top: 69px;
    width: 100%;
    height: max-content;
    border-radius: 0 0 30px 30px;
    position: relative;
    top: -100%;
    transition: 1s top, .4s background-color;
}

.menu.light {
    background-color: #EFEEEE;
}

.menu.dark {
    background-color: #4C4B4B;
}

.menu.showed {
    top: 0%;
}

.menu>div {
    height: 65px;
    width: 100%;
}

.menu>div>div:not(.refresh):not(.repo):not(.toggleLang) {
    float: left;
    width: 50%;
    margin: 20px 0;
}

.menu p {
    font-size: 18px;
    font-weight: 400;
}

.menu p.left {
    margin-left: 30px;
}

.menu.light p {
    color: #121212;
}

.menu.dark p {
    color: #efeeee;
}

.menu p.dark {
    color: #efeeee;
}

.menu p.right {
    width: 70px;
    margin: auto;
    transition: .25s all;
}

.menu.light p.success {
    color: #1E4398;
}

.menu.light p.failed {
    color: #A00009;
}

.menu.light p.loading {
    color: #121212;
}

.menu.dark p.success {
    color: #ACC4FE;
}

.menu.dark p.failed {
    color: #FF696F;
}

.menu.dark p.loading {
    color: #EFEEEE;
}

.toggleLang {
    width: 120px;
    margin: auto;
}

.toggleLang>* {
    float: left;
    margin: 0 5px;
}

.toggleLang .switch {
    margin-top: 3px;
    display: block;
    height: 20px;
    position: relative;
    width: 45px;
}

.toggleLang .switch input {
    display: none;
}

.toggleLang .slider {
    border: #707070 solid 1px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.menu.light .toggleLang .slider {
    background-color: #fff;
}

.menu.dark .toggleLang .slider {
    background-color: #292929;
}

.toggleLang .slider:before {
    bottom: 1.5px;
    content: "";
    height: 15px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 15px;
}

.menu.light .toggleLang .slider:before {
    background-color: #707070;
}

.menu.dark .toggleLang .slider:before {
    background-color: #f0f0f0;
}

.toggleLang input.others:checked+.slider:before {
    transform: translateX(23px);
}

.toggleLang .slider.round {
    border-radius: 34px;
}

.toggleLang.light .slider.round {
    box-shadow: 6px 6px 16px rgba(122, 122, 122, .25);
}

.toggleLang.dark .slider.round {
    box-shadow: 6px 6px 16px rgba(0, 0, 0, .16);
}

.toggleLang .slider.round:before {
    border-radius: 50%;
}

.refreshContainer,
.repoContainer {
    height: max-content !important;
    padding: 10px 0;
}

.refresh {
    margin: auto;
    width: max-content;
    float: inherit;
    padding: 10px 50px;
    border: #707070 1px solid;
    border-radius: 30px;
    margin-top: 5px;
    cursor: pointer;
    transition: .3s all;
}

.menu.light .refresh {
    background: rgba(122, 122, 122, .1);
    box-shadow: 6px 6px 16px rgba(153, 132, 132, 0.16);
}

.menu.dark .refresh {
    background-color: #696969;
    box-shadow: 6px 6px 16px rgba(18, 18, 18, .5);
}

.refresh:hover {
    background: rgba(122, 122, 122, .3);
}

.repo {
    margin: auto;
    width: max-content;
    height: 20px;
}

.repo>* {
    float: left;
    text-decoration: none;
}

.repo p {
    font-size: 15px;
    cursor: pointer;
    color: #121212;
}

.repo i {
    font-size: 20px;
    margin-right: 10.5px;
}

.menu.light i {
    color: #000;
}

.menu.dark i {
    color: #efeeee;
}